services:
  app:
    build: .
    ports:
      - "8080:8080"
    networks:
        - food_delivery_network
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: food_delivery
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
        - food_delivery_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
        - food_delivery_network

networks:
    food_delivery_network:
        driver: bridge
volumes:
    postgres_data: {}
    redis_data: {}